@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/reset';

@import './components/common';
@import './components/page-header';
@import './components/hero';
@import './components/features-section';
@import './components/occupation-section';
@import './components/team-section';
@import './components/clients-section';
@import './components/page-footer';
@import './components/modal';

@import './components/portfolio-menu';
@import './components/portfolio-projects';
@import './components/portfolio-overlay';





