  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  
  .container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .logo__part--dark{
    color: var(--logo-black-color);
  }
  .logo__part--white{
    color: var(--white-primary-color);
  }
