.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000001a;
    transition: 250ms var(--timing-function);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: var(--white-primary-color);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
  }
  
  .btn_close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--white-primary-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      color: var(--accent-color);
    }
  }
  
  .icon-close {
    fill: currentColor;
  }
  /* ___________________________FORM_______________________________ */
  
  .form-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .form-field__label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
  }
  
  .input-wrap {
    position: relative;
  }
  
  .form-field__input {
    margin: 0;
    width: 100%;
    height: 39px;
    padding: 11px 15px 11px 35px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    outline-color: transparent;
    transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);
    
    &:focus {
      border: 2px solid var(--accent-color);
    }
    &::placeholder {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: calc(20 / 16);
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  
  .form-field__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill 250ms var(--timing-function);
    
    .form-field__input:focus + & {
      fill: var(--accent-color);
    }
  }
  
  
  .form-textarea {
    margin-bottom: 20px;
  }
  .form-comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--title-text-color);
    outline-color: transparent;
    transition: border 250ms var(--timing-function);
    &:focus {
      border: 2px solid var(--accent-color);
    }

    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: calc(14 / 12);
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
 
  
  .check-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8.38px;
      width: 16px;
      height: 15px;
      border: 2px solid var(--title-text-color);
      border-radius: 3px;
      fill: transparent;
      transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function),
        border-color 250ms var(--timing-function);
    }

    .input-check:checked + & span {
      background-color: var(--accent-color);
      border-color: transparent;
      fill: var(--white-primary-color);
    }

    .input-check:focus + & span {
      border-color: var(--accent-color);
    }
  }
  
  .policy-link {
    margin-left: 7px;
    color: var(--accent-color);
  }
  
  .send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 52px;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 50px;
    background-color: var(--background-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--white-primary-color);
    transition: background-color 250ms var(--timing-function);
    
    &:hover,
    &:focus {
      background-color: #409be6;
    }
  }
  
  